/* styles.css */

/* Reset default styles */
body {
    margin: 0;
     /* font-family: "Roboto", sans-serif; */
}

/* Navbar styling */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9; /* Light gray background */
}

.navlink {
    display: inline-block; /* Display as inline block for spacing */
    margin: 0 10px; /* Add some spacing between links */
    text-align: center;
    color: #333; /* Dark gray text color */
    text-decoration: none; /* Remove underlines from links */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.navlink:hover {
    color: #0074d9; /* Change color on hover (you can adjust this) */
}
